<%= render "shared/error_messages", object: order if order.errors.any? %>
<div class="form-group">
      <div class="field">
        <%= form.label :table_id %>
        <%= form.select :table_id, Table.all.map{|table| ["#{table.name}","#{table.id}"]}, {}, {class: "custom-select", name: 'order[table][][id]'} %>
        <%= form.submit "Done", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 row">
    <div class="field">
    <div class="center row" id="search-form">
      <%= text_field_tag :q, nil,
      class: "form-control search-form",
      placeholder: "Search ..." %>
    </div>
<% @dishes.each_with_index do |dish, index| %>
  <%= image_tag(dish.image_dish.url) if dish.image_dish %>
  <%= dish.name %>
  <%= dish.money %>
  <%= check_box_tag "dishes[#{index}][dish_id]", dish.id %>
  <%= number_field_tag "dishes[#{index}][quantity]", dish[:quantity],min: 0  %>
  <% end %> 
  </div>  
</div>



<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10 row">
  
    <div class="col-sm-6 text-left">
      <div class="previous">
      <button type="button" class="btn btn-primary js-button-pre" data-step-index="0">
          Previous Step
        </button>
      </div>
    </div>
      <div class="col-sm-6 text-right">   
      <div class="next">
        <%= form.submit "Done", class: "btn btn-primary" %>
      </div>
    </div>
    </div>
  </div>
  